overflow:hidden;

background:#07121d;

color:#fff;

isolation:isolate;

}


/* =========================================================
  FIXED BACKGROUND
========================================================= */

.layered-hero-background{

position:absolute;

inset:0;

z-index:-10;

background-image:
    url("../hero-background.jpg");
    url("../hero-background.png");

background-position:center center;
